<% @page_title = "Create Page" %>

<%= link_to("<< Back to List", {:action => 'list', :subject_id => @subject.id}, :class => 'back-link') %>

<div class="page new">
  <h2>Create Page</h2>

  <%= form_for(:page, :url => {:action => 'create', :subject_id => @subject.id}) do |f| %>
  
    <%= render(:partial => 'form', :locals => {:f => f}) %>
    
    <div class="form-buttons">
      <%= submit_tag("Create Page") %>
    </div>
    
  <% end %>
</div>
