<h2 style="position:relative; top:1cm; left:2cm;">Welcome to the Enterprise resource engine!</h2>

<p style="position:relative;top:1cm; left:2cm;">This is a placeholder for some welcome and introductory text.</p>
